/* Default styles */

#forecast {
  font-family: "Poppins", Arial, sans-serif; 
  text-align: center;
  color: whitesmoke;
  font-size: 18px;
 
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;  /* Adjust this value to increase or decrease the space */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
  background-image: url('images/mark-harpur-K2s_YE031CA-unsplash.jpg');
  background-size: cover; 
  background-position: center center; 
  border-radius: 20px;
  box-shadow: 5px 5px 3px 6px rgb(223, 222, 222); 
}

.left-column,
.right-column {
  float: left;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search-section {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-row,
.button-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 95%;
  
}

.input-row input {
  flex-grow: 1;
  font-family: "Poppins", Arial, sans-serif; 
  text-align: center;
  background-color: #EFCDE8;
  color: whitesmoke;
  border: none;
}

#submit {
  width: 80%;
  height: 50px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", Arial, sans-serif;
  background-color: #B1078B;
  color: whitesmoke;
  border: none;
}

#city {
  height: 40px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(122, 98, 98, 0.5);
  
}

.right-column {
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px); 
  border-radius: 20px;
}

.search-section {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.weather-section {
  text-align: center;
  margin: 20 auto;
  margin-bottom: 20px;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  font-size: 25px;
}

.current-weather, .weather-status, .forecast {
  margin: 20px 0;
}

.weather-status {
  display: flex;
}

.cloudiness, .humidity, .wind {
  display: flex;
  flex: 1 0 10%;
  justify-content: space-between;
  padding: 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: whitesmoke;
  justify-content: center; /* Centers content horizontally */
  align-items: center;     /* Centers content vertically */
}

.forecast {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.day-1, .day-2, .day-3, .day-4, .day-5 {
  flex: 1 0;
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  margin: 6px;
}

#day-5 {
    fill: whitesmoke;
}

.github-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


/* Responsive styling */

/* Mobile devices */
@media (max-width: 480px) {
  .left-column,
  .right-column {
    width: 100%;
    float: none;
  }

  .day-1,
  .day-2,
  .day-3,
  .day-4,
  .day-5 {
    width: 50%;
  }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .day-1,
  .day-2,
  .day-3,
  .day-4, 
  .day-5 {
    width: 33.33%;
  }
}

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .day-1,
  .day-2,
  .day-3,
  .day-4,
  .day-5 {
    width: 25%;
  }
}

/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* Extra large screens, TV */
@media (min-width: 1201px) {
}

/* Mobile devices, including iPhones */
@media (max-width: 414px) {
  .container {
    flex-direction: column; 
    background-size: auto; 
  }

  .left-column,
  .right-column {
    float: none; 
    width: 100%;
  }

  .search-section,
  .weather-section,
  .weather-status,
  .forecast {
    width: 100%;
  }

  .day-1,
  .day-2,
  .day-3,
  .day-4,
  .day-5 {
    width: 100%; 
  }

  .day-1,
  .day-2,
  .day-3,
  .day-4,
  .day-5 img {
    width: 100%; 
    height: auto; 
  }
}

.weather-forecast {
  display: flex;
  justify-content: center;
}


.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}



